:root{
/* variabel umum
 */
	--color-white-rgb: 255,255,255;
	--color-flat-white-rgb: 221,221,221;
	--color-flat-white2-rgb: 250,250,250;
	--color-blue-rgb: 50,100,255;
	--color-green-rgb: 0,200,100;
	--color-red-rgb: 255,0,0;
	--color-black-rgb: 0,0,0;

/* variabel yang digunakan project
 * tema terang
 */
	--color-background-rgb: 240,240,240;
	--color-text-rgb: 50,50,50;
	--color-background-header-rgb: var(--color-blue-rgb);
	--color-header-rgb: var(--color-white-rgb);
	--color-shadow: rgba(var(--color-black-rgb),.88);
	--color-shadow-rgb: var(--color-black-rgb);
	--color-card-rgb: var(--color-white-rgb);
	--color-card-header-rgb: var(--color-blue-rgb);
	--color-card-background-header-rgb: var(--color-blue-rgb);
	--color-card-glow-rgb: var(--color-blue-rgb);
	--color-background-icon-rgb: 150,255,255;
	--color-button-rgb: var(--color-blue-rgb);
	--color-button-text-rgb: var(--color-flat-white-rgb);
	--color-warning-rgb: 255,0,0;
	--color-warning-text-rgb: var(--color-white-rgb);
	--color-background-input-rgb: 245,255,245;
	--color-button-flag-rgb: 0,200,0;
	--color-switch-thumb-rgb: var(--color-flat-white-rgb);
	--color-switch-false-backgrund-rgb: 100,150,255;
	--color-switch-true-backgrund-rgb: var(--color-flat-white-rgb);


	--root-font-size: 18px;
	--card-radius: 5px;
	--padding: .9rem;
	--padding-small: calc(var(--padding) / 2);
	--padding-smaller: calc(var(--padding-small) / 2);
	--text-shadow-step: 5px;
	--color-text-glow-rgb: 255,255,255;

	

	--icon-warning-url: url(../assets/warning-circle-big.svg);
	--icon-trash-outlined-url: url("../assets/trash-outline.svg");
	--icon-trash-filled-url: url("../assets/trash-fill.svg");
	--icon-close-url: url("../assets/cross.svg");
	--icon-moon-url: url("../assets/moon.svg");
	--icon-sun-url: url("../assets/sun.svg");

}
/* override variable untuk tema-gelap */
[tema-gelap]{
	--color-background-rgb: 43,42,51;
	--color-text-rgb: var(--color-flat-white-rgb);
	--color-background-header-rgb: 56,56,61;
	--color-header-rgb: var(--color-green-rgb);
	--color-shadow: #000000aa;
	--color-card-rgb: 83,82,94;
	--color-card-header-rgb: var(--color-white-rgb);
	--color-card-background-header-rgb: 0,0,0;
	--color-card-glow-rgb: var(--color-flat-white2-rgb);
	--color-background-icon-rgb: 56,56,61;
	--color-button-rgb: var(--color-green-rgb);
	--color-button-text-rgb: var(--color-white-rgb);
	--color-warning-rgb: var(--color-red-rgb);
	--color-warning-text-rgb: var(--color-text-rgb);
	--color-background-input-rgb: var(--color-flat-white2-rgb);
	--color-button-flag-rgb: 50,50,50;
	--color-switch-thumb-rgb: var(--color-card-rgb);
	--color-switch-false-backgrund-rgb: 100,150,255;
	--color-switch-true-backgrund-rgb: var(--color-flat-white-rgb);

}